@import '../../assets/main-style.scss';

.skills {
    font-family: $main-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 1080px;
    height: 100vh;
    min-height: 900px;
    gap: 50px;
    align-items: center;

    .img-contain {
        display: flex;
        width: 100%;
        justify-content: space-between;
        top: 8%;
        align-items: center;

        img {
            max-width: 150px;
            max-height: 150px;
            transition: 0.5s;
            border-radius: 50%;

            &:hover {
                transition: 0.5s;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                transform-origin: center;
                transform: scale(1.10);
            }
        }

        h2 {
            font-weight: 900;
            font-size: 30px;
            color: $main-color;
            border-bottom: 4px solid transparent;
            position: sticky;

        }

        .white-space {
            width: 150px;
        }
    }

    .ul-contain {
        padding: 20px;
        box-sizing: border-box;
        transition: 0.5s;
        display: flex;
        width: 100%;
        height: 570px;
        max-height: 600px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: sticky;

        &:hover {
            transition: 0.5s;
            transform-origin: center;
            transform: scale(1.05);
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 50%;
            padding: 0px;
            margin: 0px;
            list-style-type: none;
            height: 100%;
            box-sizing: border-box;

            h3 {
                text-align: center;
                font-size: 28px;
                font-weight: 600;
                margin: 0px;
            }

            li {
                width: 75%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 22px;

                span {
                    min-width: 40px;
                    min-height: 40px;
                    border-radius: 5px;
                    background-color: black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: black 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

                    @keyframes swing {

                        0%,
                        100% {
                            transform: rotate(0deg);
                        }

                        20% {
                            transform: rotate(15deg);
                        }

                        40% {
                            transform: rotate(-10deg);
                        }

                        60% {
                            transform: rotate(5deg);
                        }

                        80% {
                            transform: rotate(-5deg);
                        }
                    }

                    &:hover {
                        animation: swing 0.5s ease-in-out;
                    }

                    .icone {
                        font-size: 26px;
                        color: white;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1080px) {
    .skills {
        width: 100%;
        align-items: center;
        gap: 20px;
        min-height: 500px;

        .img-contain {
            top: 1%;
            width: 90%;
            flex-direction: column;
            align-items: center;
            height: fit-content;

            &:hover {
                transform: none;
            }

            img {
                width: 75px;
                height: 75px;
            }

            h2 {
                margin: 0px;
                font-size: 20px;
            }

            p {
                display: none;
            }
        }

        .ul-contain {
            width: 90%;
            flex-direction: column;

            &:hover {
                transform: scale(1);
            }

            ul {
                justify-content: space-evenly;
                box-sizing: border-box;
                gap: 0px;
                width: 100%;
                margin: 0px;
                height: 50%;

                h3 {
                    font-size: 18px;
                    margin: 0px;
                }

                li {
                    font-size: 16px;
                    width: 80%;

                    span {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-height: 1200px) {
    .skills {

        .img-contain {
            top: 6%;
        }
    }
}